0x08-recursion/0-puts_recursion
0x08-recursion/1-print_rev_recursion
0x08-recursion/2-strlen_recursion
0x08-recursion/3-factorial
0x08-recursion/4-pow
0x08-recursion/7-palindrome
0x08-recursion/100-wildcmp
0x0B-malloc_free/a
0x0D-preprocessor/3-main-c
0x0D-preprocessor/d
0x0D-preprocessor/3-main.c
0x0F-function_pointers/a
0x0F-function_pointers/0-main.c
0x0F-function_pointers/b
0x0F-function_pointers/1-main.c
0x0F-function_pointers/2-main.c
0x0F-function_pointers/c
0x0F-function_pointers/calc
0x0F-function_pointers/main
0x10-variadic_functions/0-main.c
0x10-variadic_functions/b
0x10-variadic_functions/1-main.c
0x10-variadic_functions/.vscode/launch.json
0x10-variadic_functions/c
0x10-variadic_functions/2-main.c
3-main.c
0x12-singly_linked_lists/a.dSYM/Contents/Resources/DWARF/a
0x12-singly_linked_lists/a.dSYM/Contents/Info.plist
0x12-singly_linked_lists/a
0x12-singly_linked_lists/0-main.c
0x12-singly_linked_lists/1-main.c
0x12-singly_linked_lists/b
0x12-singly_linked_lists/2-main.c
0x12-singly_linked_lists/c
0x13-more_singly_linked_lists/10-main.c
0x13-more_singly_linked_lists/9-main.c
0x13-more_singly_linked_lists/8-main.c
0x13-more_singly_linked_lists/7-main.c
0x13-more_singly_linked_lists/6-main.c
0x13-more_singly_linked_lists/5-main.c
0x13-more_singly_linked_lists/4-main.c
0x13-more_singly_linked_lists/2-main.c
0x13-more_singly_linked_lists/1-main.c
0x13-more_singly_linked_lists/0-main.c
0x13-more_singly_linked_lists/c
0x13-more_singly_linked_lists/b
0x13-more_singly_linked_lists/a
0x13-more_singly_linked_lists/g
0x13-more_singly_linked_lists/h
0x13-more_singly_linked_lists/i
0x13-more_singly_linked_lists/j
0x13-more_singly_linked_lists/k
0x15-file_io/Requiescat
0x15-file_io/hello
0x15-file_io/c
0x15-file_io/b
0x15-file_io/a
0x15-file_io/2-main.c
0x15-file_io/1-main.c
0x15-file_io/0-main.c
0x15-file_io/cp
0x15-file_io/incitatous
0x1A-hash_tables/0-main.c
0x1A-hash_tables/a
0x1A-hash_tables/*main.c
0x1C-makefiles/main.c
0x1C-makefiles/m.h
0x1C-makefiles/holberton.c
0x1C-makefiles/holberton
0x1C-makefiles/main.o
0x1C-makefiles/holberton.o
0x1C-makefiles/5-main.py
0x1C-makefiles/__pycache__/5-island_perimeter.cpython-37.pyc
0x1E-search_algorithms/*main.c
