0x08-recursion/0-puts_recursion
0x08-recursion/1-print_rev_recursion
0x08-recursion/2-strlen_recursion
0x08-recursion/3-factorial
0x08-recursion/4-pow
0x08-recursion/7-palindrome
0x08-recursion/100-wildcmp
0x0B-malloc_free/a
0x0D-preprocessor/3-main-c
0x0D-preprocessor/d
0x0D-preprocessor/3-main.c
0x0F-function_pointers/a
0x0F-function_pointers/0-main.c
